button {
    background: #FF6464;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    height: 3rem;
    width: 13rem;
    border: none;
    border-radius: .2rem;
    margin-top: 2rem;
}